<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<div class="header-bar"></div>
<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/stats" routerLinkActive="active">Stats</a>
  <a routerLink="/teams" routerLinkActive="active">Teams</a>
  <a routerLink="/calendar" routerLinkActive="active">Calendar</a>
  <a routerLink="/items" routerLinkActive="active">Items</a>
  <a routerLink="/history" routerLinkActive="active">History</a>
</nav>

<router-outlet></router-outlet>